<main>

    <section id="about-intro" class="section-1">
        <div class="container">

            <h2>About this platform</h2>

            <div class="x-row">

                <!-- Card link -->
                <div class="card my-4 mx-4 home-card">
                    <a href="about#about-se4all">

                        <div class="card-body mt-3 color-1">
                            <h3 class="card-title fw-bold mb-4">
                                Nigeria SE4All & 30:30:30
                            </h3>
                            <p class="card-text mb-5">
                                Nigeria's SE4All Action Agenda takes a leading role in supporting the implementation of SDG goals in particular SDG7 in the country, and to monitor and report on progress towards the Goal.
                            </p>
                            <p><a class="btn btn-success btn-lg">Read More</a></p>
                        </div>

                    </a>
                </div>

                <!-- Card link -->
                <div class="card my-4 mx-4 home-card">
                    <a href="about#about-fmp">

                        <div class="card-body mt-3 color-1">
                            <h3 class="card-title fw-bold mb-4">
                                Federal Ministry of Power (FMP)
                            </h3>
                            <p class="card-text mb-5">
                                The Federal Ministry of Power is the policy making arm of the Federal Government with the responsibility for the provision of power in the country.
                            </p>
                            <p><a class="btn btn-success btn-lg">Read More</a></p>
                        </div>

                    </a>
                </div>

                <!-- Card link -->
                <div class="card my-4 mx-4 home-card">
                    <a href="about#about-nesp">

                        <div class="card-body mt-3 color-1">
                            <h3 class="card-title fw-bold mb-4">
                                Nigerian Energy Support Programme (NESP)
                            </h3>
                            <p class="card-text mb-5">
                                NESP is a technical cooperation programme co-funded by the European Union and the German Government.
                            </p>
                            <p><a class="btn btn-success btn-lg">Read More</a></p>
                        </div>

                    </a>
                </div>

                <!-- Card link -->
                <div class="card my-4 mx-4 home-card">
                    <a href="about#about-stakeholder">

                        <div class="card-body mt-3 color-1">
                            <h3 class="card-title fw-bold mb-4">
                                Stakeholders
                            </h3>
                            <p class="card-text mb-5">
                                The Nigeria Electricity Supply Industry (NESI) has various stakeholders, these are some of the key industry participants.
                            </p>
                            <p><a class="btn btn-success btn-lg">Read More</a></p>
                        </div>

                    </a>
                </div>

            </div>
        </div>
    </section>

    <section id="about-se4all" class="section-2">
        <div class="container">

            <h2>Nigeria SE4All</h2>

            <div id="about-se4all-content">
                <div class="">
                <div id="about-se4all-agenda">
                    <h3>The SE4All Agenda</h3>
                    <p>The key objectives of the <a href="https://www.seforall.org" rel="noreferrer" target="_blank">SE4ALL initiative</a> globally are to ensure universal access to modern energy services; doubling the global rate of improvement in energy efficiency; and doubling the share of renewable energy in global energy mix
                    by 2030 compared to 2010. </p>
                    <p>  These objectives are premised around the proposition that national governments must design and implement a set of integrated country actions to drive transformative change of the world's energy systems; create
                    the right investment environment for the private sector's participation; and the interplay of civil society organizations in identifying, advocating, and monitoring public policy and business action; mobilising social innovation and
                    grassroots action; leading behavioural change; and helping to spread best practices and building capacity at all levels in partnership with governments and businesses</p>
                    <div>
                        <div class="about-inline-logo me-3" id="blitz-logo">
                        <img src="https://nigeriase4all.gov.ng/static/logos/logo-5-blitz.png" alt="blitz-logo">
                        </div>
                        <p>The SE4All Action Agenda for Nigeria has been developed in line with the guiding principles contained in the Guidelines for Developing National Sustainable Energy for All Action Agendas in Africa that were developed by African
                        stakeholders, notably: </p>
                    </div>
                    <div class="about-list py-5">
                        <ul>
                            <li>Building on existing plans/programmes/strategies</li>
                            <li>Political commitment and leadership</li>
                            <li>A balanced and integrated approach</li>
                            <li>An inter-ministerial and cross-sectoral approach</li>
                            <li>Adherence to sustainable development principles</li>
                            <li>Participation and meaningful involvement of all stakeholders</li>
                            <li>Gender equality and inclusiveness</li>
                            <li>Transparency and accountability</li>
                        </ul>
                    </div>
                </div>
                <div id="about-se4all-30-30-30">
                    <h3>About 30:30:30</h3>

                    <div>
                        <div class="about-inline-logo me-3" id="sdg7-logo">
                            <img src="https://nigeriase4all.gov.ng/static/img/img-14-SDG7.png" alt="SDG7-logo">
                        </div>
                        <p>The Sustainable Energy for All (SE4ALL) Action Agenda of Nigeria is a national implementation tool for the emerging Sustainable Development Goal (SDG) on energy (<a href="https://www.un.org/sustainabledevelopment/energy/" rel="noreferrer" target="_blank">SDG No. 7</a>). </p>
                    </div>
                    <p> SDG7 on energy underpins progress on other sectors, ranging
                    from health, water and education to gender equality, economic growth and climate action. Its targets are
                    consistent with global and regional SE4All objectives on energy access, energy efficiency and renewable energy. With its huge network of partners across governments, business, international organisations, finance and civil society,
                    Nigeria's SE4All Action Agenda takes a leading role in supporting the implementation of SDG goals in particular SDG7 in the country, and to monitor and report on progress towards the Goal.
                    </p>
                    <p class="center--align">
                        <img width="50%" id="sustainable-img" src="https://nigeriase4all.gov.ng/static/img/img-15-SDGs.png" alt="SDG7-logo">
                        </p>
                        <p>
                        Through this tool the Nigerian government has
                    demonstrated its commitment in achieving the 3 objectives of the global SE4ALL initiative. The Nigerian power sector has just gone through a transition phase from being publicly owned and controlled to a decentralised private sector
                    driven one. The process was adjudged as one of the most ambitious and transparent processes in the continent. Prior to this, the Nigerian Government had demonstrated the commitment to the Initiative by launching the SE4ALL Nigeria in the
                        year 2012. <b>This singular act placed Nigeria as one of the first Nations in the world to embrace this initiative.</b> Thus, objectives of the SE4ALL initiative is in tandem with the goals of the national energy agenda, which gives high
                    priority to providing access to safe, reliable and affordable energy to citizens in both urban and rural areas. The SE4All initiative requires countries to set quantitative objectives for each of the three goals described in SE4ALL Global
                    Action Agenda 2012. Nigeria's SE4All objectives are therefore defined as follows:</p>
                </div>
                </div>

                <div>
                <div id="about-se4all-table" class="section-about__text">
                    <h3 class="pt-5">Targets until 2030</h3>
                    <div class="grid-x">

                        <div class="mb-5">
                            <h4 class="heading-green">(i) Energy access</h4>
                            <ul>
                                <li>To increase electricity access from the current aggregate level of 40% (urban=65%, and rural=28%) in 2015 to 75% (urban= 90%, and rural= 60%) by 2020</li>
                    
                                <li>By 2030, the population share living without electricity supplies will drop from the current 60% in 2015 of the total population down to about 10%</li>
                    
                                <li>To replace 50% of traditional firewood consumption for cooking by improved cookstove technology by 2020 and 80% by 2030;
                                    Working together with the private sector to roll-out LPG at affordable cost for Nigerians by 2020 and subsequently up to 2030</li>
                    
                                <li>By 2025 and 2030, nuclear energy is expected to contribute about 2.5% and 4% to available electricity mix
                                    The electricity generation will increase from the present grid supply of 5,000 MW in 2015 to at least 32,000 MW by 2030</li>
                            </ul>
                        </div>

                    
                        <div class="mb-5">
                            <h4 class="heading-green">(ii) Energy efficiency</h4>
                            <ul>
                                <li>By the end of 2015, efficient lighting (at least 5 times more efficient than incandescent lamps) will be used by 20% of the households, 40% by 2020 and almost 100% by 2030</li>
                                <li>For high-energy consuming sectors (transport, power and industrial sectors), efficient energy technologies will be progressively introduced as well as other demand side management measures such as peak load management when
                                    possible. Compared with the current 2015 level, energy efficiency will increase by at least 20% by 2020 and 50% by 2030</li>
                                <li>By 2016, energy audits will be compulsory for all high-energy consuming sectors and public buildings</li>
                            </ul>
                        </div>
            
                        <div class="mb-5">
                            <h4 class="heading-green">(iii) Renewable energy</h4>
                            <p>Nigeria's electricity vision 30:30:30 is to achieve a technology-driven renewable energy sector that harnesses the nation's resources to complement its fossil fuel consumption and guarantees energy security. Specifically, Nigeria's
                                target for renewable energy is:</p>
                                <ul>
                                    <li>By 2030, renewable energy is expected to contribute about 30% share in the available electricity mix</li>
                                    <li>To achieve a 28% and 19% contribution of hydroelectricity (both large and small hydro) to the nation's electricity generation mix by 2020 and 2030, respectively</li>
                                    <li>To achieve maintain a 2% contribution of wind energy to the nation's electricity generation mix by 2020 and 2030 respectively</li>
                                    <li>To achieve a 20% and 19% contribution of solar energy (PV and Solar thermal) to the nation's electricity generation mix by 2020 and 2030 respectively</li>
                                    <li>To achieve and maintain a 3% power generation capacity using biomass resource by 2020 and 2030, respectively</li>
                                    <li>To achieve 10% biofuel blends by 2020 using locally produced renewable biofuel from secondary biomass</li>
                                </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </section>

    <section id="about-fmp" class="section-3">
        <div class="container">

            <h2 class="">Federal Ministry of Power (FMP)</h2>
            <div id="about-fmp-content" class="about-fmp">
                
                <div class="about-fmp__item my-5 row justify-content-center">
                    <div class="section-about__text col-lg-8">
                        <h3>Our vision</h3>
                        <div class="about-fmp__text">
                        <p>To be a key enabler of community and economic growth by facilitating delivery of functional, affordable and reliable power infrastructure assets and associated services.</p>
                        </div>
                    </div>
                    <div class="section-about__img col-lg-4">
                        <img src="https://nigeriase4all.gov.ng/static/img/img-12-about-fmp.jpg" alt="People discussing" class="shadow-lg">
                    </div>
                </div>

                <div class="about-fmp__item my-5 row justify-content-center">
                    <div class="section-about__text col-lg-8">
                        <h3>Our mission</h3>
                        <div class="about-fmp__text">
                        <p>Expedite National Development by providing policies, systems and structures which ensure the delivery of reliable, functional and cost effective power infrastructure assets and services that meet the needs of all.</p>
                        </div>
                    </div>
                    <div class="section-about__img col-lg-4">
                        <img src="https://nigeriase4all.gov.ng/static/img/img-13-about-fmp.jpg" alt="Solar panels" class="shadow-lg">
                    </div>
                </div>

                <div class="about-fmp__item my-5 row justify-content-center">
                    <div class="section-about__text col-lg-8">
                        <h3>Our mandate</h3>
                        <div class="about-fmp__text">
                        <p>Initiate and coordinate policies and strategies for the sustainable development of reliable, robust and affordable power supply.</p>
                        </div>
                    </div>
                    <div class="section-about__img col-lg-4">
                        <img src="https://nigeriase4all.gov.ng/static/img/img-about-fmp-our_mandate.jpg" alt="Electric cables installation" class="shadow-lg">
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="about-nesp" class="section-4">
        <div class="container">

            <h2 class="">Nigerian Energy Support Programme (NESP)</h2>

            <div id="about-nesp-content">
                <div class="row justify-content-center pb-5">
                    <div id="about-nesp-text" class="section-about__text col-lg-8">
                        <p>The Nigerian Energy Support Programme (NESP) is co-funded by the European Union and the German Federal Ministry for Economic Development and Cooperation (BMZ) and is jointly implemented by Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH in collaboration with Federal Ministry of Power.
                            It aims to foster private investments in the Nigerian Renewable Energy and Energy Efficiency Sector and to improve access to electricity for disadvantaged, rural communities. The programme implements a multi-level approach by combining
                            advisory on energy policy, economy and technical knowledge for a wide range of stakeholders. It is divided into three components:</p>
                        
                        <div class="about-nesp-list py-3">
                            <ul>
                                <li>Electrification Planning and Data Management</li>
                                <li>Sustainable Energy Access (On-Grid & Off-Grid)</li>
                                <li>Enabling Environment for Renewable Energy and Energy Efficiency Investments</li>
                            </ul>
                        </div>
                    </div>
                    <div id="about-nesp-img" class="section-about__img col-lg-4">
                        <img src="https://nigeriase4all.gov.ng/static/img/img-11-about-nesp.jpg" alt="Engineer installing photovoltaic panels">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="about-stakeholder" class="section-5">
        <div class="container">

            <h2 class="cell small-10">Stakeholders</h2>
            
            <div id="about-stakeholder-content">
                <div class="row justify-content-center pb-5">
                    <div id="about-stakeholder1-info" class="about-stakeholder__item col-lg-8">
                    <h3>Rural Electrification Agency (REA)</h3>
                        <p>The Rural Electrification Agency is mandated by the Federal Government to facilitate its goals and targets to increase access to electricity to 75% and 90% by 2020 and 2030 respectively and at least 10% of renewable energy mix by 2025. REA is mandated to promote rapid, safe, clean energy and cost-effective expansion of electricity access in unelectrified rural areas across Nigeria with economic development objectives. The electrification of the rural areas would also help improve the livelihood and socio-economic conditions of rural dwellers.</p>
                        <a href="https://rea.gov.ng/" rel="noreferrer" target="_blank" class="btn btn-success btn-lg">Read More...</a>
                    </div>
                    <div id="about-stakeholder1-img" class="about-stakeholder__img col-lg-4 pt-3">
                        <a href="https://rea.gov.ng/" rel="noreferrer" target="_blank">
                            <img src="https://nigeriase4all.gov.ng/static/logos/logo-6-rea.png" alt="Rural Electrification Agency (REA) logo">
                        </a>
                    </div>
                </div>

                <div class="row justify-content-center pb-5">
                    <div id="about-stakeholder2-info" class="about-stakeholder__item col-lg-8">
                    <h3>Nigeria Electricity Regulatory Commission (NERC)</h3>
                        <p>The Nigerian Electricity Regulatory Commission, established by the Electric Power Sector Reform Act of 2005 is an independent body with a mandate to shoulder technical and economic regulations of the Nigerian Electricity Supply Industry. NERC has been charged with ensuring uninterrupted electricity, private sector participation, fair regulations as well as consumer protection. To this effect, its sole mission is to foster an investor-friendly industry and efficient market structure to meet the needs of Nigeria for safe, adequate, reliable and affordable electricity.</p>
                        <a href="https://nerc.gov.ng/" rel="noreferrer" target="_blank" class="btn btn-success btn-lg">Read More...</a>
                    </div>
                    <div id="about-stakeholder2-img" class="about-stakeholder__img col-lg-4 pt-3">
                        <a href="https://nerc.gov.ng/" rel="noreferrer" target="_blank">
                            <img src="https://nigeriase4all.gov.ng//static/logos/logo-7-nerc.png" alt="Nigeria Electricity Regulatory Commission (NERC) logo">
                        </a>
                    </div>
                </div>

                <div class="row justify-content-center pb-5">
                    <div id="about-stakeholder3-info" class="about-stakeholder__item col-lg-8">
                    <h3>Transmission Company of Nigeria (TCN)</h3>
                        <p>The Transmission Company of Nigeria is a principal body licensed with the responsibility of wheeling power at high voltage, operate the National Grid and Market Operation Service. The TCN was issued a transmission license by Federal Government of Nigeria in response to the increase in Nigeria's demographic figures over the decades and the lack of corresponding increase in energy supply to meet the country's growing economic and infrastructural development objective. Major activities of the TCN include operation, expansion and upgrade of transmission facilities, create adequate network redundancies to ensure at least 99.9% reliability and reduce transmission losses to less than 5%.</p>
                        <a href="https://tcn.org.ng/" rel="noreferrer" target="_blank" class="btn btn-success btn-lg">Read More...</a>
                    </div>
                    <div id="about-stakeholder3-img" class="about-stakeholder__img col-lg-4 pt-3">
                        <a href="https://tcn.org.ng/" rel="noreferrer" target="_blank">
                            <img src="https://nigeriase4all.gov.ng/static/logos/logo-8-tcn.png" alt="Transmission Company of Nigeria (TCN) logo">
                        </a>
                    </div>
                </div>

                <div class="row justify-content-center pb-5">
                    <div id="about-stakeholder4-info" class="about-stakeholder__item col-lg-8">
                    <h3>Green Energy Investment</h3>
                        <p>The Green Energy Investment Platform is a One Stop Investment Platform for Renewable Energy and Energy Efficiency investments in Nigeria. The platform is co-operated by the Federal Ministry of Power (FMP), the Nigerian Investment Promotion Commission (NIPC) and the Rural Electrification Agency of Nigeria (REA) and developed with the support of the Nigerian Energy Support Programme (NESP), a technical assistance programme co-funded by the European Union and the German Government and implemented by Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) in collaboration with FMP. For more information about investment opportunities, case studies and market intelligence in Nigeria, click the button below</p>
                        <a href="https://greenenergyinvestment.com.ng" rel="noreferrer" target="_blank" class="btn btn-success btn-lg">Read More...</a>
                    </div>
                    <div id="about-stakeholder4-img" class="about-stakeholder__img col-lg-4 pt-3">
                        <a href="https://greenenergyinvestment.com.ng" rel="noreferrer" target="_blank">
                            <img src="https://nigeriase4all.gov.ng/static/logos/logo-11-green-energy-investment.png" alt="Green Energy Investment logo">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>
