<div class="bg-img">
    <div class="container">
        <div class="float-end mb-1">

            <ng-go-top-button [speed]="50" [acceleration]="2" [scrollDistance]="500" [classNames]="'ng-go-top-button-class'">
                <fa-icon [icon]="faArrowUp"></fa-icon>
            </ng-go-top-button>

        </div>
        <h1 class="header mb-1">Stay in touch</h1>
        <br>
        <p class="lead mb-1">Check out our blog and follow us on social media <br> to stay up to date with the latest
            developments.</p>
        <br>
        <p class="lead mb-1">#nigeriase4all</p>
    </div>
</div>