<div *ngFor="let dynamicBlogData of dynamicData">

    <div class="bg-img">
        <div class="container">
            <div class="float-end mb-1">

                <ng-go-top-button [speed]="50" [acceleration]="2" [scrollDistance]="500"
                    [classNames]="'ng-go-top-button-class'">
                    <fa-icon [icon]="faArrowUp"></fa-icon>
                </ng-go-top-button>

            </div>
            <h1 class="header mb-1">{{ dynamicBlogData ? dynamicBlogData.footer_hero_title : staticContent.k_footer_hero_title }}</h1>
            <br>
            <p class="lead mb-1">
                {{ dynamicBlogData ? dynamicBlogData.footer_hero_subtitle_1 : staticContent.k_footer_hero_subtitle_1 }} 
                <br> 
                {{ dynamicBlogData ? dynamicBlogData.footer_hero_subtitle_2 : staticContent.k_footer_hero_subtitle_2 }}
            </p>
            <br>
            <p class="lead mb-1">{{ dynamicBlogData ? dynamicBlogData.footer_hero_subtitle_3 : staticContent.k_footer_hero_subtitle_3 }}</p>
        </div>
    </div>
</div>
