
$se4all-home-bg-color: #777;
$se4all-btn-txt-color: #fff;
$se4all-section4-bg: #ffe293;
$se4all-gray-bg: #eeeff1;
$home-color1: #58c495;
$home-color2: #085064;
$home-color3: #f76904;
$home-color4: #c5c4cf;
$home-hr-color: #93939f;


#footer-info{
    clear: both;
}

ng-go-top-button fa-icon {
    font-size: 2rem;
}

// Sections

.section-1{
    background-color: $se4all-gray-bg;
    border-top: 1px solid $home-hr-color;
}

.section-1 .contact-info {
    display: flex;
}

.section-2 .part-1 img {
    height: 10rem;
}

.section-2 .part-2 img {
    height: 5rem;
}

.section-2 .part-1, .section-2 .part-2 {
    display: flex;
    justify-content: flex-end;
}

.section-3 {
    background-color: $se4all-home-bg-color !important;
    color: $se4all-btn-txt-color !important;
}

.section-3 .footer-items div {
    display: flex;
    justify-content: center;
}

.section-3 img {
    height: 2rem;
    object-fit: contain;
}



@media (max-width: 768px) {
    .section-2 .part-1, .section-2 .part-2 {
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .section-3 .footer-items, .accred {
        display: flex;
        flex-direction: column;
    }
    .section-3 .footer-items div {
        margin-top: 2rem;
    }
    .section-3 .accred {
        margin-top: 0 !important;
    }
}