
<div *ngFor="let dynamicBlogData of dynamicData" class="outer-div" @navbarAnimation>

  <nav class="navbar navbar-expand-lg fixed-top padLR" [ngClass]="{
    'mini-grid': minigrids,
    'power-sector': powersector,
    'solar-home-systems': shs
  }">

    <div id="header-blitz-div">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo-5-blitz.png" alt="SE4ALL Logo">
        <div class="h2-alternative">
          {{ dynamicBlogData ? dynamicBlogData.nav_site_title : constants.nav_site_title }}
        </div>
      </a>
    </div>

    <div class="nav-logo-nigeria" id="header-logo-nigeria">
      <a href="{{ dynamicBlogData ? dynamicBlogData.nav_logo_url : constants.nav_logo_url }}" target="_blank">
        <img src="assets/logo-2-crest.png" alt="FMP Logo">
      </a>
    </div>

    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>

    <div id="right-side-nav">

      <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarCollapse" [isAnimated]="true">
          
            <a class="nav-link" routerLinkActive="active" routerLink="{{ dynamicBlogData ? dynamicBlogData.Nav_txt_url_4 : constants.Nav_txt_url_4 }}">
              <div class="circular circular-mini-grid"></div> 
                <span class="mini-grid-txt">{{ dynamicBlogData ? dynamicBlogData.Nav_txt_4 : constants.Nav_txt_4 }}</span>
            </a>

              <a class="nav-link" routerLinkActive="active" routerLink="{{ dynamicBlogData ? dynamicBlogData.Nav_txt_url_5 : constants.Nav_txt_url_5 }}">
                <div class="circular circular-power-sector"></div>
                <span class="power-sector-txt">{{ dynamicBlogData ? dynamicBlogData.Nav_txt_5 : constants.Nav_txt_5 }}</span>
              </a>

              <a class="nav-link" routerLinkActive="active" routerLink="{{ dynamicBlogData ? dynamicBlogData.Nav_txt_url_6 : constants.Nav_txt_url_6 }}">
                <div class="circular circular-solar-home-systems"></div>
                <span class="solar-home-systems-txt">{{ dynamicBlogData ? dynamicBlogData.Nav_txt_6 : constants.Nav_txt_6 }}</span>
              </a>

              <a class="nav-link" routerLinkActive="active" routerLink="{{ dynamicBlogData ? dynamicBlogData.nav_txt_url_3 : constants.nav_txt_url_3 }}">
                <span class="about-txt">{{ dynamicBlogData ? dynamicBlogData.nav_txt_3 : constants.nav_txt_3 }}</span>
              </a>

      </div>

      <div class="nav-logo-nigeria" id="header-logo-nigeria-2">
        <a href="{{ dynamicBlogData ? dynamicBlogData.nav_logo_url : constants.nav_logo_url }}" target="_blank">
          <img src="assets/logo-2-crest.png" alt="FMP Logo">
        </a>
      </div>

    </div>

  </nav>

</div>
