
/* Navigation Bar */

header {
    position: relative;
    background-color: #fff;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin-top: 10px;

}

header img{
    margin-right: 1rem;
}

header h2, header .h2-alternative{
    color: #ffbb00;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .4rem;
}

#header-blitz-div img{
    height: 4rem;
}

#header-blitz-div a {
    display: flex;
    align-items: center;
}

#hamburger{
    display: none;
}


header a{
    color: #464646;
    font-size: 16pt;
    font-weight: normal;
}


#header-logo-nigeria img {
    height: 5rem;
    margin: 1rem;
}

#new-icon {
    height: 1rem;
}

/* Responsive layout - makes a one column layout */

@media (max-width: 768px) {
    .flex-container {
        margin: 0px 20px 1px 20px;
        // padding-top: 2rem;
        // padding-bottom: 3rem;
    }
    .nav-icon {
        display: none;
    }
    div.h2-alternative {
       display: none !important;
    }
    header {
        margin-bottom: 2rem;
    }
}
  @media (max-width: 640px) {
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    #blog, #map, #about {
        display: none;
    }
    #header-blitz-div img, #header-logo-nigeria img, #hamburger {
        height: 3rem;
        margin-top: 1.5rem;
    }
    #hamburger{
        display: inline;
    }
  }

  @media (max-width: 425px) {
    .flex-container{
        margin: 0px 20px 1px 20px;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    #header-blitz-div img {
        height: 2rem;
    }
    #hamburger img{
        height: 1rem;
        margin-top: 1rem;
    }
  }