
$home-color1: #58c495;
$home-color2: #085064;
$home-color3: #f76904;
$y-color: #fb0;
$gr-color: #6c757d;


/* Navigation Bar */

a {
    color: inherit;
}


.navbar img{
    margin-right: 1rem;
}

.navbar .h2-alternative{
    color: $y-color;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .4rem;
}

#header-blitz-div img{
    height: 4rem;
}

#header-blitz-div a {
    display: flex;
    align-items: center;
}

#hamburger, #header-logo-nigeria {
    display: none;
}

.navbar a{
    color: #464646;
    font-size: 16pt;
    font-weight: normal;
}


#header-logo-nigeria img, #header-logo-nigeria-2 img {
    height: 5rem;
    margin: 1rem;
}

#new-icon {
    height: 1rem;
}


.circular {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    margin-top: 0.3rem;
}

.circular-mini-grid {
    background-color: $home-color1;
}

.circular-power-sector {
    background-color: $home-color2;
}

.circular-solar-home-systems {
    background-color: $home-color3;
}

.tag-title {
    display: flex;
    font-size: 1.2rem;
}

.nav-link {
    display: flex;
}

.outer-div {
    margin-bottom: 7rem !important;
}

.navbar{
    background-color: white;
}

#about img {
    margin-right: 0.3rem;
}

.cell {
    margin-right: 1rem;
}

.active {
    border-bottom: 3px solid $y-color;
}

.active:hover {
    border-bottom: 3px solid $gr-color;
}

ul span:hover {
    color: $y-color;
}


/* Responsive layout - makes a one column layout */
@media (max-width: 1024px) {
    .tag-title{
        font-size: 10pt;
    }
    .circular {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        margin-top: 0.1rem;
    }
    .navbar .h2-alternative, .navbar a{
        font-size: 12pt;
    }
    .cell {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .flex-container {
        margin: 0px 20px 1px 20px;
    }
    div.h2-alternative, #header-logo-nigeria-2   {
        display: none !important;
    }
    .navbar {
        margin-bottom: 2rem;
    }
    
}
  @media (max-width: 640px) {
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    #header-blitz-div img, #header-logo-nigeria img, #header-logo-nigeria-2 img #hamburger {
        height: 3rem;
        margin-top: 1.5rem;
    }
    #hamburger{
        display: inline;
    }
  }

  @media (max-width: 425px) {
    .flex-container{
        margin: 0px 20px 1px 20px;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    #header-blitz-div img {
        height: 2rem;
        position: relative;
        top: -1rem;
    }
    #hamburger img{
        height: 1rem;
        margin-top: 1rem;
    }
    #header-logo-nigeria {
        display: inline;
        margin-top: 0 !important;
    }
  }