
<header class="header">
  <div class="flex-container">
    <div id="header-blitz-div">
      <a href="#">
        <img src="assets/logo-5-blitz.png" alt="SE4ALL Logo">
        <div class="h2-alternative">Nigeria Se4All</div>
      </a>
    </div>
    <div class="cell" id="map">
      <a href="https://nigeriase4all.gov.ng/map" target="_blank"><img src="assets/i_map.svg" alt="map icon">MAP</a>
    </div>
    <div class="cell" id="tools">
      <a href="https://nigeriase4all.gov.ng/#landing-resources" target="_blank"><img src="assets/i_layers.svg" alt="layers icon">TOOLS</a>
    </div>
    <div class="cell" id="about">
      <a href="https://nigeriase4all.gov.ng/about" target="_blank"><img src="assets/i_info.svg" alt="info icon">ABOUT</a>
    </div>
    <div class="cell nav__logo-nigeria" id="header-logo-nigeria">
      <a href="https://www.power.gov.ng/" target="_blank">
        <img src="assets/logo-2-crest.png" alt="FMP Logo">
      </a>
    </div>
    <div class="cell" id="hamburger">
      <a data-toggle="mobile-menu-div" id="mobile-menu-toggle"> <img src="assets/i_hamburger.svg" alt="menu icon"> </a>
    </div>
  </div>


</header>

<div id="page-top" class="below-header"></div>