<div *ngFor="let dynamicBlogData of dynamicData">

  <header class="header">
    <div class="flex-container">
      <div id="header-blitz-div">
        <a href="#">
          <img src="assets/logo-5-blitz.png" alt="SE4ALL Logo">
          <div class="h2-alternative">
            {{ dynamicBlogData ? dynamicBlogData.nav_site_title : staticContent.k_nav_site_title }}
          </div>
        </a>
      </div>

      <div class="cell" id="blog">
        <a href="{{ dynamicBlogData ? dynamicBlogData.Nav_txt_url_4 : staticContent.k_Nav_txt_url_4 }}">
          <div class="tag-title">
          <div class="circular circular-mini-grid"></div>
          {{ dynamicBlogData ? dynamicBlogData.Nav_txt_4 : staticContent.k_Nav_txt_4 }}
          </div>

        </a>
      </div>

      <div class="cell" id="map">
        <a href="{{ dynamicBlogData ? dynamicBlogData.Nav_txt_url_5 : staticContent.k_Nav_txt_url_5 }}">
          <div class="tag-title">
            <div class="circular circular-power-sector"></div>
            {{ dynamicBlogData ? dynamicBlogData.Nav_txt_5 : staticContent.k_Nav_txt_5 }}
          </div>

        </a>
      </div>

      <div class="cell" id="map">
        <a href="{{ dynamicBlogData ? dynamicBlogData.Nav_txt_url_6 : staticContent.k_Nav_txt_url_6 }}">
          <div class="tag-title">
          <div class="circular circular-solar-home-systems"></div>
          {{ dynamicBlogData ? dynamicBlogData.Nav_txt_6 : staticContent.k_Nav_txt_6 }}
          </div>
        </a>
      </div>

      <div class="cell" id="about">
        <a href="{{ dynamicBlogData ? dynamicBlogData.nav_txt_url_3 : staticContent.k_nav_txt_url_3 }}">
          <div class="tag-title">
          <img src="assets/i_info.svg" alt="info icon" class="nav-icon">
          {{ dynamicBlogData ? dynamicBlogData.nav_txt_3 : staticContent.k_nav_txt_3 }}
          </div>
        </a>
      </div>

      <div class="cell nav__logo-nigeria" id="header-logo-nigeria">
        <a href="{{ dynamicBlogData ? dynamicBlogData.nav_logo_url : staticContent.k_nav_logo_url }}" target="_blank">
          <img src="assets/logo-2-crest.png" alt="FMP Logo">
        </a>
      </div>
      <div class="cell" id="hamburger">
        <a data-toggle="mobile-menu-div" id="mobile-menu-toggle">
          <img src="assets/i_hamburger.svg" alt="menu icon">
        </a>
      </div>
    </div>


  </header>

  <div id="page-top" class="below-header"></div>

</div>