
main {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
}

img {
    width: 150px !important;
    float: right;
}

p {
    font-size: 14pt;
}

a {
    color: #1DD069;
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
    }
}