
<main>
    <section class="section-1 home-bg-img">
    <div class="py-5 container" id="hero-section">
        <div class="row py-lg-5 g-2">
            <div class="col-lg-10">
                <h1 class="fw-bolder">Your partner for data and tools to support Sustainable Energy for All</h1>
                <br>
                <p>Nigeria SE4ALL, an initiative from the Ministry of Power, is working with you to generate the most accurate data and latest tools to empower better electrification planning in Nigeria.</p>
                <p>The data and tools are being continuously enriched – you can follow these updates via the blog or our social media channels at the end of the page.</p>
                <br>
                <p>
                    <a type="button" class="btn btn-lg btn-v3 cta" routerLink="../contact-us">
                        Learn more
                    </a>
                </p>
            </div>
        </div>
    </div>
    </section>

    <section class="section-2">
    <div class="container col-md-9 p-lg-4 mx-auto mt-5 mb-1 text-center">
        <h1 class="fw-bold">We offer insights relevant for your industry</h1>
        <p class="lead fw-normal">The tools and available data relevant to your industry can be seen through the portals here</p>
      </div>
    </section>

    <section class="section-3">
        <div class="container x-row">
            <div class="card my-5 mx-4 shadow-lg home-card">
                <img src="assets/logo-2-crest.png" class="card-img-top p-3 mt-3" alt="...">
                <div class="card-body mt-3 color-1">
                <h5 class="card-title fw-bold">Mini Grids</h5>
                <p class="card-text">Data and site selection tools for both off-grid and interconnected mini-grids, as well market insights and tips for effective project development.</p>
                </div>
            </div>
            <div class="card my-5 mx-4 shadow-lg home-card">
                <img src="assets/logo-2-crest.png" class="card-img-top p-3 mt-3" alt="...">
                <div class="card-body mt-3 color-2">
                <h5 class="card-title fw-bold">Power Sector</h5>
                <p class="card-text">Focused data about grid assets and national level progress towards 30:30:30.</p>
                </div>
            </div>
            <div class="card my-5 mx-4 shadow-lg home-card">
                <img src="assets/logo-2-crest.png" class="card-img-top p-3 mt-3" alt="...">
                <div class="card-body mt-3 color-3">
                <h5 class="card-title fw-bold">Solar Home Systems</h5>
                <p class="card-text">Tools to support selection of distribution locations, and analysis of potential customer base.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-4"></section>
    <section class="section-5"></section>
    <section class="section-6"></section>

</main>
