
<main>
    <section class="section-1">
    <div class="py-5 container" id="hero-section">
        <div class="row py-lg-5 g-2">
            <div class="col-lg-10">
                <h1 class="fw-bolder">Your partner for data and tools to support Sustainable Energy for All</h1>
                <br>
                <p>Nigeria SE4ALL, an initiative from the Ministry of Power, is working with you to generate the most accurate data and latest tools to empower better electrification planning in Nigeria.</p>
                <p>The data and tools are being continuously enriched – you can follow these updates via the blog or our social media channels at the end of the page.</p>
                <br>
                <p>
                    <a type="button" class="btn btn-lg btn-v3 cta" routerLink="../contact-us">
                        Learn more
                    </a>
                </p>
            </div>
        </div>
    </div>
    </section>

    <section class="section-2 pt-5">
        <div class="container col-md-9 p-lg-4 mx-auto text-center">
            <h1 class="fw-bold">We offer insights relevant for your industry</h1>
            <p class="lead fw-normal">The tools and available data relevant to your industry can be seen through the portals here</p>
        </div>
    </section>

    <section class="section-3 pb-5">
        <div class="container x-row">
            <div class="card my-5 mx-4 shadow-lg home-card">
                <img src="assets/logo-2-crest.png" class="card-img-top p-3 mt-3" alt="...">
                <div class="card-body mt-3 color-1">
                <h5 class="card-title fw-bold mb-4">Mini-grids</h5>
                <p class="card-text mb-5">Data and site selection tools for both off-grid and interconnected mini-grids, as well market insights and tips for effective project development.</p>
                </div>
            </div>
            <div class="card my-5 mx-4 shadow-lg home-card">
                <img src="assets/logo-2-crest.png" class="card-img-top p-3 mt-3" alt="...">
                <div class="card-body mt-3 color-2">
                <h5 class="card-title fw-bold mb-4">Power Sector</h5>
                <p class="card-text mb-5">Focused data about grid assets and national level progress towards 30:30:30.</p>
                </div>
            </div>
            <div class="card my-5 mx-4 shadow-lg home-card">
                <img src="assets/logo-2-crest.png" class="card-img-top p-3 mt-3" alt="...">
                <div class="card-body mt-3 color-3">
                <h5 class="card-title fw-bold mb-4">Solar Home Systems</h5>
                <p class="card-text mb-5">Tools to support selection of distribution locations, and analysis of potential customer base.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-4 py-5">

        <div class="container col-md-9 p-lg-4 mx-auto mt-5 mb-1 text-center section-4-title">
            <h1 class="fw-bold">Real-world applications and data</h1>
            <p class="lead fw-normal">Our interactive tools and electrification data help you make better decisions</p>
        </div>

        <div class="container x-row">

            <div class="section-4-card mb-5 mx-5">
                <img src="assets/1-Mini-grid-site-selection.jpg" class="section4-card-img mt-3 shadow-lg" alt="...">
                <div class="tag-title fw-light mb-4 text-uppercase pt-4 fs-6">
                    <div class="circular circular-mini-grid"></div>
                    Mini-grid
                </div>
                <p class="main-title fw-bold fs-5">Mini-grid site selection</p>
                <p class="main-title fw-normal fs-5 text-wrap">Select sites by distance to grid</p>
                <p>
                    <a type="button" class="btn btn-lg fw-bold btn-mini-grid cta">
                        View app
                    </a>
                </p>
            </div>

            <div class="section-4-card mb-5 mx-5">
                <img src="assets/2-Medium-Voltage-grid-datasets.jpg" class="section4-card-img mt-3 shadow-lg" alt="...">
                <div class="tag-title fw-light mb-4 text-uppercase pt-4 fs-6">
                    <div class="circular circular-power-sector"></div>
                    POWER SECTOR
                </div>
                <p class="main-title fw-bold fs-5">Medium Voltage grid datasets</p>
                <p class="main-title fw-normal fs-5 text-wrap">View the largest collection of medium voltage grid data for Nigeria available</p>
                <p>
                    <a type="button" class="btn btn-lg fw-bold btn-power-sector cta">
                        View app
                    </a>
                </p>
            </div>

            <div class="section-4-card mb-5 mx-5">
                <img src="assets/3-Real-mini-grid-data.jpg" class="section4-card-img mt-3 shadow-lg" alt="...">
                <div class="tag-title fw-light mb-4 text-uppercase pt-4 fs-6">
                    <div class="circular circular-mini-grid"></div>
                    Mini-grid
                </div>
                <p class="main-title fw-bold fs-5">Real mini-grid data</p>
                <p class="main-title fw-normal fs-5 text-wrap">The mini-grid monitor publishes actual data on operational mini-grids in Nigeria</p>
                <p>
                    <a type="button" class="btn btn-lg fw-bold btn-mini-grid cta">
                        View app
                    </a>
                </p>
            </div>

            <div class="section-4-card mb-5 mx-5">
                <img src="assets/4-The-mini-grid-developer-toolkit.jpg" class="section4-card-img mt-3 shadow-lg" alt="...">
                <div class="tag-title fw-light mb-4 text-uppercase pt-4 fs-6">
                    <div class="circular circular-mini-grid"></div>
                    Mini-grid
                </div>
                <p class="main-title fw-bold fs-5">The mini-grid developer toolkit</p>
                <p class="main-title fw-normal fs-5 text-wrap">You can view our entire</p>
                <p>
                    <a type="button" class="btn btn-lg fw-bold btn-mini-grid cta">
                        View app
                    </a>
                </p>
            </div>

        </div>
    </section>

    <section class="section-5 pt-5">
        <div class="container col-md-9 p-lg-4 mx-auto text-center">
            <h1 class="fw-bold">Stay up-to-date with our blog</h1>
            <br>
            <p class="lead fw-normal">Read about our recent activities</p>
        </div>
    </section>

    <section class="section-6 pb-5">
        <div class="container x-row">
            
            <div class="card mt-5 mb-5" style="max-width: 1440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title fw-bold py-4">GIS basics for the rest of us</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                      <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                          <div class="card-text-badge-2">
                            <div class="rounded-pill text-white px-4 py-1">GIS</div>
                            <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                            <div class="rounded-pill rounded-pill-mini-grid text-white px-4 py-1">Mini-grid</div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-5" style="max-width: 1440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title fw-bold py-4">FMP training completed</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                      <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                          <div class="card-text-badge-2">
                            <div class="rounded-pill text-white px-4 py-1">FMP</div>
                            <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                            <div class="rounded-pill rounded-pill-mini-shs text-white px-4 py-1">SHS</div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-5" style="max-width: 1440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title fw-bold py-4">Feature of a SHS supplier</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                      <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                          <div class="card-text-badge-2">
                            <div class="rounded-pill text-white px-4 py-1">GIS</div>
                            <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                            <div class="rounded-pill rounded-pill-power-sector text-white px-4 py-1">Power sector</div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-5" style="max-width: 1440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title fw-bold py-4"> Mobile mappers training</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                      <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                          <div class="card-text-badge-2">
                            <div class="rounded-pill text-white px-4 py-1">GIS</div>
                            <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                            <div class="rounded-pill rounded-pill-mini-grid text-white px-4 py-1">Mini-grid</div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section-7">
        <div class="container mx-auto p-5">
            <div class="row">
                <div class="mt-5 col-lg-6 contact-info">
                    <div class="me-3">
                      <img src="/assets/i_info.svg" alt="...">
                    </div>
                    <div>
                        <p class="fw-bold">OFFICE</p>
                        <p class="lead fw-normal">Federal Ministry of Power <br>POWER HOUSE 14, Zambezi Crescent <br>Maitama, Abuja <br>Nigeria</p>
                    </div>
                </div>

                <div class="mt-5 col contact-info">
                    <div class="me-3">
                      <img src="/assets/i_mail.svg" alt="...">
                    </div>
                    <div>
                    <p class="fw-bold">EMAIL</p>
                    <p class="lead fw-normal"><a href="mailto:info@pwh.gov.ng" class="text-reset">info@pwh.gov.ng</a></p>
                    </div>
                </div>

                <div class="mt-5 col contact-info">
                    <div class="me-3">
                      <img src="/assets/i_internet.svg" alt="...">
                    </div>
                    <div>
                    <p class="fw-bold">WEBSITE</p>
                    <p class="lead fw-normal"><a href="http://www.power.gov.ng" target="_blank" class="text-reset">www.power.gov.ng</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-8 py-5">

        <div class="container-fluid row">

            <div class="col-lg-8 text-center part-1 mt-5">
                <div>
                <p class="fw-normal fs-4">With financial support of</p>
                    <a href="https://europa.eu/european-union/index_en" target="_blank"><img src="/assets/logo-1-eu.png" alt="EU logo"></a>
                    <a href="http://www.bmz.de/en/index.html" target="_blank"><img src="/assets/logo-4-ger-coop.png" alt="GIZ Nigeria cooperation logo"></a>
                </div>
            </div>
    
            <div class="col-lg-4 text-center part-2 mt-5">
                <div>
                    <p class="fw-normal fs-4">Implemented by</p>
                    <a href="https://www.giz.de/en/html/index.html" target="_blank"><img src="/assets/logo-3-giz.png" alt="GIZ Logo"></a>
                </div>
            </div>

        </div>


    </section>

    <section class="section-9 py-4">
        <div class="container-fluid row mx-auto text-center footer-items">
            <div class="col"><a href="http://test.nigeriase4all.gov.ng/termsofservice" target="_blank" class="text-reset">Terms and conditions of service</a></div>
            <div class="col">&copy; 2021 All Rights Reserved by nigeriase4all.gov.ng</div>
            <div class="col accred">
                <div class="col"><a href="http://test.nigeriase4all.gov.ng/accreditation" target="_blank" class="text-reset">Accreditation</a></div>
                <div class="col">
                    <img src="/assets/logo-5-blitz.png" alt="SE4ALL Logo">
                </div>
            </div>
        </div>
    </section>

</main>
