
$se4all-home-bg-color: #777;
$se4all-btn-txt-color: #fff;
$se4all-section4-bg: #ffe293;
$se4all-gray-bg: #eeeff1;
$home-color1: #58c495;
$home-color2: #085064;
$home-color3: #f76904;
$home-color4: #c5c4cf;
$home-hr-color: #93939f;
$se4all-v3-color: #fcbc0c;


.section-2, .section-3, .section-5, .section-6{
    background-color: $se4all-gray-bg;
}

.btn-v3 {
    background-color: $se4all-v3-color;
    color: $se4all-btn-txt-color !important;
}

.section-4 {
    background-color: $se4all-section4-bg;
}

.btn-mini-grid {
    background-color: $home-color1;
    color: $se4all-btn-txt-color !important;
}

.btn-power-sector {
    background-color: $home-color2;
    color: $se4all-btn-txt-color !important;
}

.section-3 .card {
    width: 24rem;
    border-radius: 20px;
    height: 80%;
}

.section-3 .card img{
    height: 10rem;
    object-fit: contain;
}

.section-4 img{
    width: 34rem;
    border-radius: 10px;
    height: 20rem;
    object-fit: cover;
}

.section-6 .card{
    border-radius: 20px;
}

.section-6 .card img {
    border-radius: 20px 0px 0px 20px;
}

.section-6 .img-fluid {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}

.text-wrap {
    width: 34rem;
}

.card:hover, .section4-card-img:hover {
    cursor: pointer;
}

.section-3 .x-row, .section-4 .x-row {
    display: flex;
    flex-wrap: wrap;
}

.tag-title, .card-text-badge, .card-text-badge-2 {
    display: flex;
}

.card-text-badge, .card-text-badge-2 {
    justify-content: space-between;
}

.card-text-badge-2 div{
    // margin-left: 1rem;
    margin-right: 1rem;
}

.rounded-pill {
    background-color: $home-color4;
}

.circular {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: .2rem;
}

.circular-mini-grid, .rounded-pill-mini-grid {
    background-color: $home-color1;
}

.circular-shs, .rounded-pill-mini-shs {
    background-color: $home-color3;
}

.circular-power-sector, .rounded-pill-power-sector {
    background-color: $home-color2;
}

.color-1 {
    border-top: 10px solid $home-color1;
}
.color-2 {
    border-top: 10px solid $home-color2;
}
.color-3 {
    border-top: 10px solid $home-color3;
}


/* Style the video: 100% width and height to cover the entire window */
.section-1 {
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.section-2 {
    margin-top: -8rem;
}
.section-1 #hero-section {
    position: relative;
    padding: 5rem;
}

#myVideo {
    position: relative;
    width: 100%; 
    height: 50rem; 
    top: -6rem; 
    z-index: -1; 
    margin-bottom: -44rem;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    top: -5rem;
    // background: rgba(0, 0, 0, 0.5);
    // padding: 1rem;
    color: #fff;
}

.section-1 .home_section1_hero {
    font-size: 3.2rem;
    font-weight: bolder;
}

.section-1 .home_section1_subtitle {
    font-size: 1.3rem;
}


// Responsive Web Design Section
@media (max-width: 1440px) {
    .section-1 {
        margin-top: -3rem;
    }
}

@media (max-width: 1024px) {
    .section-3 .card {
        width: 26rem;
    }
    .text-wrap {
        width: 26rem;
    }
    .section-4 img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    .section-4-card {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .section-4-title, .section-4-card {
        padding-bottom: 3rem;
    }
    .section-6 .img-fluid {
        height: 18rem;
    }
    // Make section 1 responsive
    .section-1 {
        margin-top: -7rem;
    }
    .section-2 {
        margin-top: -18rem;
    }
    .section-1 #hero-section {
        height: 42rem;
    }
    .content {
        top: -4rem;
    }
    .section-1 .home_section1_hero {
        font-size: 2.5rem;
    }
    .section-1 .home_section1_subtitle {
        font-size: 1rem;
    }

}

@media (max-width: 768px) {
    .section-3 .card {
        width: 95%;
    }
    .section-4-card {
        margin-left: 34px !important;
        margin-right: 34px !important;
    }
    .section-4-title, .section-4-card {
        padding-bottom: 3rem;
    }
    .text-wrap {
        width: 100%;
    }
    p.lead {
        margin-bottom: 0px;
        padding-bottom: 1rem;
    }
    .card-text-badge {
        flex-direction: column;
    }
    .card-text-badge-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .section-6 .img-fluid {
        height: 23rem;
    }
    // Make section 1 responsive
    .section-1 {
        margin-top: -9.5rem;
    }
    .section-2 {
        margin-top: -21rem;
    }
    .content {
        top: 3rem;
    }
    .section-1 .home_section1_hero {
        font-size: 2rem;
    }
    .section-1 .home_section1_subtitle {
        display: none;
    }

}

@media (max-width: 425px) {
    .section-3 .card {
        width: 90%;
    }
    .section-4-card {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .section-4-title, .section-4-card {
        padding-bottom: 3rem;
    }
    .text-wrap {
        width: 22rem;
    }
    .section-6 .card img {
        border-radius: 20px 20px 0px 0px;
    }
    .section-6 .img-fluid {
        height: 18rem;
    }
    // Make section 1 responsive
    .section-1 #hero-section {
        padding: 1rem;
    }
    .section-1 .home_section1_hero {
        font-size: 1rem;
    }
    .section-2 {
        margin-top: -24.6rem;
    }
    .content br {
        display: none;
    }
}

@media (max-width: 375px) {
    .section-3 .card {
        width: 85%;
    }
    .btn-lg{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .text-wrap {
        width: 20rem;
    }
    .card-text-badge-2{
        flex-direction: column;
    }
    .card-text-badge-2 div{
        width: 10rem;
        margin-bottom: .5rem;
    }
    .section-2 {
        margin-top: -25rem;
    }
}

@media (max-width: 320px) {
    .text-wrap {
        width: 16rem;
    }
    .section-1 .home_section1_subtitle {
        display: none;
    }
    .section-2 {
        margin-top: -25.8rem;
    }

}

