<div *ngFor="let dynamicBlogData of dynamicData">

    <main>

        <section class="section-1">

            <!-- The Hero video -->
            <iframe allow="autoplay"
                src="https://www.youtube-nocookie.com/embed/FqXL8WVTE-w?autoplay=1&mute=1&controls=0&loop=1&playlist=FqXL8WVTE-w"
                id="myVideo" frameborder="0" allowfullscreen></iframe>


            <!-- The Hero Text -->
            <div class="py-5 container-fluid" id="hero-section">
                <div class="row py-lg-5 g-2">
                    <div class="col-lg-10">
                        <div class="content">
                            <h1 class="home_section1_hero">
                                {{ dynamicBlogData ? dynamicBlogData.home_section1_hero : constants.home_section1_hero }}
                            </h1>
                            <br>
                            <p class="home_section1_subtitle">
                                {{ dynamicBlogData ? dynamicBlogData.home_section1_subtitle1 : constants.home_section1_subtitle1 }}
                            </p>
                            <p class="home_section1_subtitle">
                                {{ dynamicBlogData ? dynamicBlogData.home_section1_subtitle2 : constants.home_section1_subtitle2 }}
                            </p>
                            <br>
                            <p>
                                <a type="button" class="btn btn-lg btn-v3 cta" 
                                routerLink="{{ dynamicBlogData ? dynamicBlogData.home_hero_btn_url : constants.home_hero_btn_url }}">
                                    {{ dynamicBlogData ? dynamicBlogData.btn7 : constants.btn7 }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-2 pt-5">
            <div class="container col-md-9 p-lg-4 mx-auto text-center">
                <h1 class="fw-bold">{{ dynamicBlogData ? dynamicBlogData.home_section2_hero :
                    constants.home_section2_hero }}</h1>
                <p class="lead fw-normal">{{ dynamicBlogData ? dynamicBlogData.home_section2_subtitle1 :
                    constants.home_section2_subtitle1 }}</p>
            </div>
        </section>

        <section class="section-3 pb-5">
            <div class="container x-row">

                <!-- Card link to mini-grids/power-sector/solar-home-systems components -->

                <div *ngFor="let section3Data of section3DynamicData">

                    <div class="card my-5 mx-4 shadow-lg home-card">
                        <a routerLink="{{ section3Data.card_url }}" class="text-reset">

                            <img src="{{ section3Data.card_img[0].url }}" class="card-img-top p-3 mt-3" alt="{{ section3Data.card_img_alt }}">
                            <div class="card-body mt-3 color-1">
                                <h5 class="card-title fw-bold mb-4">
                                    {{ section3Data.card_title }}
                                </h5>
                                <p class="card-text mb-5">
                                    {{ section3Data.card_subtitle }}
                                </p>
                            </div>

                        </a>
                    </div>

                </div>

            </div>
        </section>

        <section class="section-4 py-5">

            <div class="container col-md-9 p-lg-4 mx-auto mt-5 mb-1 text-center section-4-title">
                <h1 class="fw-bold">
                    {{ dynamicBlogData ? dynamicBlogData.home_section4_hero : constants.home_section4_hero }}
                </h1>
                <p class="lead fw-normal">
                    {{ dynamicBlogData ? dynamicBlogData.home_section4_subtitle : constants.home_section4_subtitle }}
                </p>
            </div>

            <div class="container x-row">

                <div *ngFor="let section4Data of section4DynamicData">

                    <div class="section-4-card mb-5 mx-5">
                        <img src="{{ section4Data.card_img[0].url }}" class="section4-card-img mt-3 shadow-lg" alt="{{ section4Data.card_img_alt }}">
                        <div class="tag-title fw-light mb-4 text-uppercase pt-4 fs-6">
                            <div class="circular" [style.backgroundColor]="section4Data.card_url  === 'mini-grids' ? '#58c495' : '#085064'">
                        
                        </div>
                            {{ section4Data.card_tag_title }}
                        </div>
                        <p class="main-title fw-bold fs-5">
                            {{ section4Data.card_title }}
                        </p>
                        <p class="main-title fw-normal fs-5 text-wrap">
                            {{ section4Data.card_subtitle }}
                        </p>
                        <p>
                            <a type="button" routerLink="{{ section4Data.card_url }}" class="btn btn-lg fw-bold btn-mini-grid cta"
                            [style.backgroundColor]="section4Data.card_url  === 'mini-grids' ? '#58c495' : '#085064'">
                                {{ section4Data.card_btn_txt }}
                            </a>
                        </p>
                    </div>

                </div>

            </div>
        </section>

        <section class="section-5 pt-5">
            <div class="container col-md-9 p-lg-4 mx-auto text-center">
                <h1 class="fw-bold">{{ dynamicBlogData ? dynamicBlogData.home_section5_hero :
                    constants.home_section5_hero }}</h1>
                <br>
                <p class="lead fw-normal">{{ dynamicBlogData ? dynamicBlogData.home_section5_subtitle :
                    constants.home_section5_subtitle }}</p>
            </div>
        </section>

        <!-- Blog Section -->
        <section class="section-6 pt-1 pb-5">
            <div class="container x-row">

                <div class="card mt-5 mb-5" style="max-width: 1440px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold py-4">GIS basics for the rest of us</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus.</p>
                                <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                                    <div class="card-text-badge-2">
                                        <div class="rounded-pill text-white px-4 py-1">GIS</div>
                                        <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                                        <div class="rounded-pill rounded-pill-mini-grid text-white px-4 py-1">Mini-grid
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5" style="max-width: 1440px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold py-4">FMP training completed</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus.</p>
                                <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                                    <div class="card-text-badge-2">
                                        <div class="rounded-pill text-white px-4 py-1">FMP</div>
                                        <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                                        <div class="rounded-pill rounded-pill-mini-shs text-white px-4 py-1">SHS</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5" style="max-width: 1440px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold py-4">Feature of a SHS supplier</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus.</p>
                                <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                                    <div class="card-text-badge-2">
                                        <div class="rounded-pill text-white px-4 py-1">GIS</div>
                                        <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                                        <div class="rounded-pill rounded-pill-power-sector text-white px-4 py-1">Power
                                            sector</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5" style="max-width: 1440px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/blog-home-img.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold py-4"> Mobile mappers training</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus.</p>
                                <div class="card-text-badge pt-5 fw-lighter"><em>By Ilya Rybin - Jul 22, 2021</em>
                                    <div class="card-text-badge-2">
                                        <div class="rounded-pill text-white px-4 py-1">GIS</div>
                                        <div class="rounded-pill text-white px-4 py-1">Geodata</div>
                                        <div class="rounded-pill rounded-pill-mini-grid text-white px-4 py-1">Mini-grid
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>

</div>