<div *ngFor="let dynamicBlogData of dynamicData">

    <main>
        <section id="privacy-policy-sec" class="section-1 py-lg-5">

            <div class="container">

                <h2 class="py-3"> {{ dynamicBlogData ? dynamicBlogData.pp_hero : constants.pp_hero }} </h2>

                <div id="privacy-policy-content" class="">

                    <div class="pp-content" id="sub-section-1">
                        <h3> 1. {{ dynamicBlogData ? dynamicBlogData.pp_txt1 : constants.pp_txt1 }} </h3>
                        <p>{{ dynamicBlogData ? dynamicBlogData.pp_txt1_1 : constants.pp_txt1_1 }}</p>
                        <p>
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt1_2_1 : constants.pp_txt1_2_1 }}
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt1_2_2 : constants.pp_txt1_2_2 }}
                    </p>
                    </div>
                    
                    <div class="pp-content" id="sub-section-2">
                        <h3>2. {{ dynamicBlogData ? dynamicBlogData.pp_txt2 : constants.pp_txt2 }}</h3>
                        <p>
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt2_1_1 : constants.pp_txt2_1_1 }}
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt2_1_2 : constants.pp_txt2_1_2 }}
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt2_1_3 : constants.pp_txt2_1_3 }}
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt2_1_4 : constants.pp_txt2_1_4 }}
                        </p>
                    </div>

                    <div class="pp-content" id="sub-section-3">
                        <h3> 3. {{ dynamicBlogData ? dynamicBlogData.pp_txt3 : constants.pp_txt3 }}</h3>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt3_1_1 : constants.pp_txt3_1_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt3_1_2 : constants.pp_txt3_1_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt3_2_1 : constants.pp_txt3_2_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt3_2_2 : constants.pp_txt3_2_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt3_3_1 : constants.pp_txt3_3_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt3_3_2 : constants.pp_txt3_3_2 }}
                            </li>
                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-4">
                        <h3> 4. {{ dynamicBlogData ? dynamicBlogData.pp_txt4 : constants.pp_txt4 }}</h3>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_1 : constants.pp_txt4_1 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_2 : constants.pp_txt4_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_3_1 : constants.pp_txt4_3_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_3_2 : constants.pp_txt4_3_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_4 : constants.pp_txt4_4 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_5 : constants.pp_txt4_5 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_6_1 : constants.pp_txt4_6_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt4_6_2 : constants.pp_txt4_6_2 }}
                            </li>
                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-5">
                        <h3> 5. {{ dynamicBlogData ? dynamicBlogData.pp_txt5 : constants.pp_txt5 }}  </h3>
                        <p>{{ dynamicBlogData ? dynamicBlogData.pp_txt5_1 : constants.pp_txt5_1 }}</p>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_2 : constants.pp_txt5_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_3 : constants.pp_txt5_3 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_4 : constants.pp_txt5_4 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_5 : constants.pp_txt5_5 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_6 : constants.pp_txt5_6 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_7 : constants.pp_txt5_7 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt5_8 : constants.pp_txt5_8 }}
                            </li>
                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-6">
                        <h3> 6. {{ dynamicBlogData ? dynamicBlogData.pp_txt6 : constants.pp_txt6 }}</h3>
                        <p> 
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt6_1 : constants.pp_txt6_1 }}
                        </p>
                    </div>

                    <div class="pp-content" id="sub-section-7">
                        <h3> 7. {{ dynamicBlogData ? dynamicBlogData.pp_txt7 : constants.pp_txt7 }}</h3>
                        <p>{{ dynamicBlogData ? dynamicBlogData.pp_txt7_1 : constants.pp_txt7_1 }}</p>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt7_2 : constants.pp_txt7_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt7_3 : constants.pp_txt7_3 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt7_4_1 : constants.pp_txt7_4_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt7_4_2 : constants.pp_txt7_4_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt7_5_1 : constants.pp_txt7_5_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt7_5_2 : constants.pp_txt7_5_2 }}
                            </li>
                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-8">
                        <h3> 8. {{ dynamicBlogData ? dynamicBlogData.pp_txt8 : constants.pp_txt8 }}</h3>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt8_1 : constants.pp_txt8_1 }}
                            </li>

                                <ul>
                                    <li>
                                        {{ dynamicBlogData ? dynamicBlogData.pp_txt8_2 : constants.pp_txt8_2 }}
                                    </li>
                                    <li>
                                        {{ dynamicBlogData ? dynamicBlogData.pp_txt8_3 : constants.pp_txt8_3 }}
                                    </li>
                                    <li>
                                        {{ dynamicBlogData ? dynamicBlogData.pp_txt8_4 : constants.pp_txt8_4 }}
                                    </li>
                                    <li>
                                        {{ dynamicBlogData ? dynamicBlogData.pp_txt8_5 : constants.pp_txt8_5 }}
                                    </li>
                                </ul>
                            
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt8_6_1 : constants.pp_txt8_6_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt8_6_2 : constants.pp_txt8_6_2 }}
                            </li>
                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-9">
                        <h3> 9. {{ dynamicBlogData ? dynamicBlogData.pp_txt9 : constants.pp_txt9 }} </h3>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_1_1 : constants.pp_txt9_1_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_1_2 : constants.pp_txt9_1_2 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_1_3 : constants.pp_txt9_1_3 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_2_1 : constants.pp_txt9_2_1 }}
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_2_2 : constants.pp_txt9_2_2 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_3 : constants.pp_txt9_3 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt9_4 : constants.pp_txt9_4 }}
                            </li>

                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-10">
                        <h3> 10. {{ dynamicBlogData ? dynamicBlogData.pp_txt10 : constants.pp_txt10 }} </h3>
                            <ul>
                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt10_1 : constants.pp_txt10_1 }}
                                </li>
                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt10_2 : constants.pp_txt10_2 }}
                                </li>
                                    
                                    <ul>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt10_3 : constants.pp_txt10_3 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt10_4 : constants.pp_txt10_4 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt10_5 : constants.pp_txt10_5 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt10_6 : constants.pp_txt10_6 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt10_7 : constants.pp_txt10_7 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt10_8 : constants.pp_txt10_8 }}
                                        </li>
                                    </ul>

                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt10_9 : constants.pp_txt10_9 }}
                                </li>
                            </ul>
                    </div>

                    <div class="pp-content" id="sub-section-11">

                        <h3> 11. {{ dynamicBlogData ? dynamicBlogData.pp_txt11 : constants.pp_txt11 }} </h3>
                            <ul>
                                
                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_1 : constants.pp_txt11_1 }}
                                </li>

                                    <ul>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_2 : constants.pp_txt11_2 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_3 : constants.pp_txt11_3 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_4_1 : constants.pp_txt11_4_1 }}
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_4_2 : constants.pp_txt11_4_2 }}
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_4_3 : constants.pp_txt11_4_3 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_5_1 : constants.pp_txt11_5_1 }}
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_5_2 : constants.pp_txt11_5_2 }}
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_5_3 : constants.pp_txt11_5_3 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_6 : constants.pp_txt11_6 }}
                                        </li>

                                            <ul>
                                                <li>
                                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_7 : constants.pp_txt11_7 }}
                                                </li>
                                                <li>
                                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_8 : constants.pp_txt11_8 }}
                                                </li>
                                                <li>
                                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_9 : constants.pp_txt11_9 }}
                                                </li>
                                                <li>
                                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_10 : constants.pp_txt11_10 }}
                                                </li>
                                            </ul>
                                        
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_11_1 : constants.pp_txt11_11_1 }}
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_11_2 : constants.pp_txt11_11_2 }}
                                        </li>
                                        <li>
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_12_1 : constants.pp_txt11_12_1 }}
                                            {{ dynamicBlogData ? dynamicBlogData.pp_txt11_12_2 : constants.pp_txt11_12_2 }}
                                        </li>
                                    </ul>
                                
                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_13_1 : constants.pp_txt11_13_1 }}
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_13_2 : constants.pp_txt11_13_2 }}
                                </li>
                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_14_1 : constants.pp_txt11_14_1 }}
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_14_2 : constants.pp_txt11_14_2 }}
                                </li>
                                <li>
                                    {{ dynamicBlogData ? dynamicBlogData.pp_txt11_15 : constants.pp_txt11_15 }}
                                </li>

                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-12">
                        <h3> 12. {{ dynamicBlogData ? dynamicBlogData.pp_txt12 : constants.pp_txt12 }}</h3>
                        <ul>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt12_1 : constants.pp_txt12_1 }}
                            </li>
                            <li>
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt12_2 : constants.pp_txt12_2 }}
                            </li>
                        </ul>
                    </div>

                    <div class="pp-content" id="sub-section-13">
                        <h3> 13. {{ dynamicBlogData ? dynamicBlogData.pp_txt13 : constants.pp_txt13 }}</h3>
                        <p>
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt13_1 : constants.pp_txt13_1 }}
                            {{ dynamicBlogData ? dynamicBlogData.pp_txt13_2 : constants.pp_txt13_2 }}
                            <a href="mailto:{{ dynamicBlogData ? dynamicBlogData.pp_txt13_3 : constants.pp_txt13_3 }}">
                                {{ dynamicBlogData ? dynamicBlogData.pp_txt13_3 : constants.pp_txt13_3 }}
                            </a>
                            .
                        </p>
                    </div>
                
                </div>
            </div>
        </section>
    </main>

</div>
