
$se4all-green: #1DD069;
$se4all-txt-grey: #464646;
$se4all-grey1: #EEEFF1;


.section-1 {
    background-color: $se4all-grey1;
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

a {
    color: $se4all-green;
}

p, div {
    color: $se4all-txt-grey;
}

body, p, li {
    font-size: 15pt;
}

h2 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20pt;
    font-weight: 700;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.pp-content {
    margin-bottom: 3rem;
}

li {
    margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
    h2 {
        font-size: 26pt;
    }
}

@media (max-width: 425px) {
    h3 {
        font-weight: 500;
    }
}

