<main>
    <section id="about-map-intro" class="section-1 py-lg-5">

        <div class="container">

            <div class="about-content" id="about-this-map">
                <h2 class="pb-5">About this map</h2>

                <div class="iframe-container">
                    <iframe id="nigeria-se4all-video" class="nigeria-se4all-video responsive-iframe" src="https://www.youtube-nocookie.com/embed/aS8nSXy4d7Q?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>

                <div class="pt-3">
                    <p>
                        The SE4ALL webmap allows users to analyze highly accurate electrification data. The platform was created through the <a target="_blank" href="https://www.giz.de/en/worldwide/26374.html">Nigerian Energy Support Programme (NESP)</a>, a technical assistance programme co-funded by the European Union and the German Federal Ministry for Economic Cooperation and Development (BMZ) and implemented by Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH in collaboration with the Federal Ministry of Power (FMP). The programme aims to foster investments in the Nigerian Renewable Energy and Energy Efficiency Sector and to improve access to electricity for disadvantaged, rural communities.
                    The programme implements a multi-level approach by combining advisory on energy policy, economy and technical knowledge for a wide range of stakeholders. It is divided into three components:
                        </p>
                        <ul>
                            <li>Electrification Planning and Data Management</li>
                            <li>Sustainable Energy Access (On-Grid & Off-Grid)</li>
                            <li>Enabling Environment for Renewable Energy and Energy Efficiency Investments</li>
                        </ul>
                </div>
            </div>
        
            <div class="about-content" id="disclaimers">
                <h2 class="">Disclaimers</h2>
                <p>
                This tool was created and is maintained with the financial support of the European Union and the German Federal Ministry for Economic Cooperation and Development (BMZ), and has been implemented by the Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ). However, its contents do not reflect the views of the European Union, the German Government or the GIZ. GIZ, including its commissioning and implementing parties, shall NOT be responsible for the accuracy of the information included in this website. Any use of such aforementioned information shall be at the risk and cost of the user. The geographical maps are for informational purposes only and do not constitute recognition of international boundaries or regions; European Union, the German Government and/or GIZ make no claims concerning the validity, accuracy or completeness of the maps nor assume any liability resulting from the use of the information therein.
                </p>
            </div>
             
            <div class="about-content" id="data-licences">
                <h2 class="pb-3">Data licences</h2>
                    <p>
                        The data within the map is available to download under the following licensing terms:
                    </p>

                    <div class="license-content">

                    <h3>Medium voltage grid</h3>
                    <div class="">
                        <p>
                            The medium voltage grid is made up of 3 data sources.
                        </p>
                        <p>
                            Data for <i>Katsina</i>, <i>Kano</i> and <i>Jigawa</i> is available from energydata.info. The license the dataset is published under and attribution is given below.
                        </p>
                            <div class="license-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_licence_grey.svg" alt="License icon">
            <span>Licensed under:</span>
            a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>
        </div>
                            <div class="attribution-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_attribution_grey.svg" alt="Attribution icon">
            <span>Attribution:</span>
            © Columbia University Earth Institute. Accessed from <a href="https://energydata.info/dataset/kano-electricity-distribution-plc-kedco-mv-lines-2016" target="_blank">energydata.info</a>
        </div>
                        <p>
                            Data for <i>Sokoto</i>, <i>Kebbi</i>, <i>Zamfara</i> and <i>Kaduna</i> was gathered from Kaduna electric DISCO.
                        </p>
                            <div class="license-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_licence_grey.svg" alt="License icon">
            <span>Licensed under:</span>
            a Creative Commons Attribution 4.0 International License
        </div>
                            <div class="attribution-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_attribution_grey.svg" alt="Attribution icon">
            <span>Attribution:</span>
            Kaduna Electricity Distribution Plc (Kaduna Electric), © Columbia University Earth Institute. Modified by fixing errors in North East Sokoto by © Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH and the Federal Ministry of Power (FMP).
        </div>
                        <p>
                            All other grid data was collected in the field by the Nigeria SE4ALL project.
                        </p>
                            <div class="license-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_licence_grey.svg" alt="License icon">
            <span>Licensed under:</span>
            an <a href="https://opendatacommons.org/licenses/odbl/1-0/index.html" target="_blank">Open Database License (ODbL) v1.0 License</a>
        </div>
                            <div class="attribution-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_attribution_grey.svg" alt="Attribution icon">
            <span>Attribution:</span>
            © Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH and the Federal Ministry of Power (FMP)
        </div>
                        <p>
                            For more information on how the SE4ALL grid dataset has been generated, read the “on grid mapping” tools section by following the link below:
                        </p>
        
                        <a style="color: #fff" class="btn btn-success btn-lg" href="/resources/ongridmapping" target="_blank">Tools for on grid mapping</a>
                    </div>

                    </div>

                    <div class="license-content">

                    <h3>Identified settlements by satellite imagery</h3>
                    <div class="license-div">
                        <p>
                            Identified settlements by satellite imagery are generated from a High Resolution Settlement Layer and processed by Nigeria SE4ALL.
                        </p>
                            <div class="license-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_licence_grey.svg" alt="License icon">
            <span>Licensed under:</span>
            an <a href="https://opendatacommons.org/licenses/odbl/1-0/index.html" target="_blank">Open Database License (ODbL) v1.0 License</a>
        </div>
                            <div class="attribution-entry citation-entry">
            <img src="https://nigeriase4all.gov.ng/static/img/icons/i_attribution_grey.svg" alt="Attribution icon">
            <span>Attribution:</span>
            Facebook Connectivity Lab and Center for International Earth Science Information Network - CIESIN - Columbia University. 2016. High Resolution Settlement Layer (HRSL). Source imagery for HRSL © 2016 DigitalGlobe. Accessed DAY MONTH YEAR. Modified by © Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH and the Federal Ministry of Power (FMP),  update with residential landuse data from: OpenStreetMap contributors (https://www.openstreetmap.org/copyright).
        </div>
                        <p>
                            For more information on how settlements are identified automatically with satellite imagery, read the “cluster identification” tools section by following the link below:
                        </p>
        
                        <a style="color: #fff" class="btn btn-success btn-lg" href="/resources/clusteridentification" target="_blank">Tools for cluster identification</a>
        
                    </div>

                    </div>

                    <div class="license-content">

                        <h3>Remotely mapped settlements</h3>
                        <div class="license-div">
                            <p>
                                Identified settlements by satellite imagery are generated from OpenStreetMap data and processed by Nigeria SE4ALL.
                            </p>

                            <div class="citation-entry">
                                <img src="https://nigeriase4all.gov.ng/static/img/icons/i_licence_grey.svg" alt="License icon">
                                <span>Licensed under:</span> an <a href="https://opendatacommons.org/licenses/odbl/1-0/index.html" target="_blank">Open Database License (ODbL) v1.0 License</a>
                            </div>

                            <div class="citation-entry">
                                <img src="https://nigeriase4all.gov.ng/static/img/icons/i_attribution_grey.svg" alt="Attribution icon">
                                <span>Attribution:</span>
                                OpenStreetMap contributors (https://www.openstreetmap.org/copyright), © Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH and the Federal Ministry of Power (FMP)
                            </div>
                            <p>
                                For more information on how settlements are remotely mapped and these clusters have been generated, read the “mapping with OSM” tools section by following the link below:
                            </p>
                
                            <a style="color: #fff" class="btn btn-success btn-lg" href="/resources/osm" target="_blank">Tools for mapping with OSM</a>
                        </div>
                
                    </div>

            </div>
        
        </div>
      </section>
</main>
