<div *ngFor="let dynamicBlogData of dynamicData">

    <main id="power-sector">

        <section class="section-1" style="background-image: url('{{ dynamicBlogData.power_sector_hero_image.url }}')">

            <!-- The Hero Text -->
            <div class="container-fluid" id="hero-section">
                <div class="row py-lg-5 g-2">
                    <div class="content text-center">
                        <h1 class="home_section1_hero">Power Sector</h1>
                        <br>
                        <p class="home_section1_subtitle">{{ dynamicBlogData.power_sector_hero_subtitle }}</p>
                        <br>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-2">

            <div class="container col-md-9 p-lg-4 mx-auto mt-5 mb-1 text-center section-2-title">
                <h2 class="fw-bold">{{ dynamicBlogData ? dynamicBlogData.power_sector_section2_hero :
                    constants.minigrids_section2_hero }}</h2>
                <p class="lead fw-normal">{{ dynamicBlogData ? dynamicBlogData.minigrids_section2_hero_subtitle :
                    constants.minigrids_section2_hero_subtitle }}</p>
            </div>

            <div class="container x-row">
                <div *ngFor="let app of appCardsData">
                    <div class="section-2-card mb-5 mx-5">
                        <img src="{{app.image.url}}" class="section4-card-img" alt="...">
                        <p class="main-title fw-bold fs-5" id="app-title">
                            {{ app.title }}
                        </p>
                        <p class="main-title fw-normal fs-5 text-wrap" id="app-subtitle">
                        {{app.subtitle}}
                        </p>
                        <p>
                            <a type="button" id="view-app-btn" class="btn btn-lg fw-bold btn-mini-grid cta" href="{{app.url}}">
                                {{ dynamicBlogData ? dynamicBlogData.btn8 : constants.btn8 }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-3-market">
            <div class="container p-lg-4 mx-auto text-center">
                <h2 class="fw-bold">{{ constants.minigrids_section3_hero }}</h2>
                <br>
                <p class="lead fw-normal">{{ constants.minigrids_section3_subtitle }}</p>
            </div>
            <div class="container x-row">
                <div class="card my-5 mx-4 shadow-lg home-card">
                    <p>Total off-grid sites</p>
                    <div class="card-body text-center py-5">
                        <h5 class="card-title fw-bold mb-4">
                            19,345
                        </h5>
                        <p class="card-text mb-5">
                            2021
                        </p>
                    </div>
                </div>
                <div class="card my-5 mx-4 shadow-lg home-card">
                    <p>Total off-grid sites</p>
                    <div class="card-body text-center py-5">
                        <h5 class="card-title fw-bold mb-4">
                            19,345
                        </h5>
                        <p class="card-text mb-5">
                            2021
                        </p>
                    </div>
                </div>
                <div class="card my-5 mx-4 shadow-lg home-card">
                    <p>Total off-grid sites</p>
                    <div class="card-body text-center py-5">
                        <h5 class="card-title fw-bold mb-4">
                            19,345
                        </h5>
                        <p class="card-text mb-5">
                            2021
                        </p>
                    </div>
                </div>
                <div class="card my-5 mx-4 shadow-lg home-card">
                    <p>Total off-grid sites</p>
                    <div class="card-body text-center py-5">
                        <h5 class="card-title fw-bold mb-4">
                            19,345
                        </h5>
                        <p class="card-text mb-5">
                            2021
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-4-download">
            <div class="container p-lg-4 mx-auto text-center">
                <h2 class="fw-bold">{{ constants.minigrids_section4_hero }}</h2>
                <br>
                <p class="lead fw-normal">{{ constants.power_sector_section4_subtitle }}</p>
            </div>
            <!-- Dynamic Download Data from the API-->                                         
            <div class="container p-lg-4 mx-auto">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                        <tr>
                            <th id="dataset_name" scope="col">{{ constants.minigrids_section4_col1 }}</th>
                            <th id="dataset_date" scope="col">{{ constants.minigrids_section4_col2 }}</th>
                            <th id="dataset_license" class="text-center" scope="col">{{ constants.minigrids_section4_col3 }}</th>
                            <th id="dataset_download" class="text-center" scope="col">{{ constants.minigrids_section4_col4 }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of poweSectorDownloadData">
                            <td id="dataset_name" scope="row">{{data.Dataset}}</td>
                            <td id="dataset_date">{{data.Last_update}}</td>
                            <td id="dataset_license" class="text-center">
                                <span tooltip="{{data.License}}" placement="auto" id="creative-commons">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                        <path d="M245.83 214.87l-33.22 17.28c-9.43-19.58-25.24-19.93-27.46-19.93-22.13 0-33.22 14.61-33.22 43.84 0 23.57 9.21 43.84 33.22 43.84 14.47 0 24.65-7.09 30.57-21.26l30.55 15.5c-6.17 11.51-25.69 38.98-65.1 38.98-22.6 0-73.96-10.32-73.96-77.05 0-58.69 43-77.06 72.63-77.06 30.72-.01 52.7 11.95 65.99 35.86zm143.05 0l-32.78 17.28c-9.5-19.77-25.72-19.93-27.9-19.93-22.14 0-33.22 14.61-33.22 43.84 0 23.55 9.23 43.84 33.22 43.84 14.45 0 24.65-7.09 30.54-21.26l31 15.5c-2.1 3.75-21.39 38.98-65.09 38.98-22.69 0-73.96-9.87-73.96-77.05 0-58.67 42.97-77.06 72.63-77.06 30.71-.01 52.58 11.95 65.56 35.86zM247.56 8.05C104.74 8.05 0 123.11 0 256.05c0 138.49 113.6 248 247.56 248 129.93 0 248.44-100.87 248.44-248 0-137.87-106.62-248-248.44-248zm.87 450.81c-112.54 0-203.7-93.04-203.7-202.81 0-105.42 85.43-203.27 203.72-203.27 112.53 0 202.82 89.46 202.82 203.26-.01 121.69-99.68 202.82-202.84 202.82z"/>
                                    </svg>
                                </span>
                            </td>
                            <td id="dataset_download" class="text-center">
                                <a href="{{ data.download_url }}" target="_blank">
                                    <button type="button" class="btn btn-success cta" id="data-download">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                                        </svg>
                                        <span id="data-download-btn-txt"> Download</span>
                                    </button>
                                </a>
                            </td>
                        </tr>                        
                        </tbody>
                    </table>
                <!-- <p class="mt-5">{{ constants.minigrids_section4_more }}</p> -->
            </div>
        </section>

        <section class="section-3-blog">
            <div class="container col-md-9 p-lg-4 mx-auto text-center">
                <h2 class="fw-bold">{{ dynamicBlogData ? dynamicBlogData.hero_title : constants.hero_title }}</h2>
                <br>
                <p class="lead fw-normal">{{ constants.power_sector_section3_subtitle }}</p>
            </div>
        </section>

        <!-- Blog Section -->
        <section class="section-4">
            <div class="container x-row">
                <div *ngFor="let blog of blogData">
                    <a routerLink="../blog-post/{{ blog.published_date | date:'yyyy' }}/{{ blog.published_date | date:'MM' }}/{{ blog.published_date | date:'dd' }}/{{ blog.url }}">
                        <div class="card mt-5 mb-5" style="max-width: 1440px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{blog.image.url}}" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold py-4"> {{ blog.title }}</h5>
                                        <p class="card-text">{{ blog.summary}}</p>
                                        <div class="card-text-badge pt-5 fw-lighter"><em>By {{ blog.user.username }} - {{ blog.published_date | date:'longDate' }}</em>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a> 
                </div>                                         
            </div>
        </section>

        <section class="section-6">
            <div class="container p-lg-4 mx-auto text-center">
                <h2 class="fw-bold">{{ constants.minigrids_section6_hero }}</h2>
                <p class="lead fw-normal">{{ constants.minigrids_section6_subtitle }}</p>
            </div>
        </section>

        <section class="section-5">
            <div class="container x-row">
                <div *ngFor="let ressource of ressourcesCardsData">
                    <div class="card my-5 mx-4 home-card">
                        <a href="{{ressource.url}}" target="_blank" >
                            <img src="{{ressource.image.url}}" class="card-img-top p-3 mt-3" alt="...">
                            <div class="card-body mt-3">
                                <h5 class="card-title fw-bold mb-4">
                                    {{ ressource.title}}
                                </h5>
                                <p class="card-text mb-5">
                                    {{ ressource.subtitle }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>                
            </div>
        </section>

    </main>

</div>
