::ng-deep{
    .legend-title, .legend-labels{
        background: none !important;
        display: flex;
        // flex-direction: column; 
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: 425px) {
        .legend-title, .legend-labels{
            flex-direction: column; 
        }

    }
    
}

