

.btn-se4all:hover#linkedin-color {
    background-color: #0077b5;
}

.btn-se4all:hover#facebook-color {
    background-color: #4267B2;
}

.btn-se4all:hover#email-color {
    background-color: #FFBB00;
}

span.badge.bg-secondary.rounded-pill{
    background-color: rgba(70, 70, 70, 0.5) !important;
}
