
$se4all-home-bg-color: #777;
$se4all-btn-txt-color: #fff;
$se4all-gray-bg: #eeeff1;
$se4all-gray-bg2: #e0e2e9;
$home-color1: #57c494;
$home-color2: #085064;
$home-color3: #f76904;
$home-color4: #c5c4cf;
$home-hr-color: #93939f;

.section-2, .section-3-market, .section-4-download {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.section-3-blog, .section-6, #shs .section-4-blog-header {
    padding-top: 6rem !important;
}

.section-4, .section-5, #shs .section-4-blog {
    padding-bottom: 6rem !important;
}


.section-6, .section-5{
    background-color: $home-color1;
}

.section-2, .section-3-download {
    background-color: $se4all-gray-bg;
}

.section-3-blog, .section-3-market, .section-4 {
    background-color: $se4all-gray-bg2;
}

.btn-mini-grid {
    background-color: $home-color1;
    color: $se4all-btn-txt-color !important;
}

.section-5 .card-shadow, .section-3-market .card{
    box-shadow: 0px 10px 20px #b9b9b9 !important;
}

.section-2 .section-2-card #view-app-btn {
    color: $se4all-btn-txt-color !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.section-5 .card img{
    height: 40%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section-2 img{
    width: 34rem;
    border-radius: 10px;
    object-fit: cover;
}

.section-2 #app-title {
    margin-top: 1rem;
}

.section-4 .card{
    border-radius: 20px;
}

.section-4 .card img {
    border-radius: 20px 0px 0px 20px;
}

.section-4 .img-fluid {
    height: 16rem;
    object-fit: cover;
}

.text-wrap {
    width: 34rem;
}

.card:hover, .section4-card-img:hover, table a:hover {
    cursor: pointer;
}

.section-2 .x-row, .section-3-market .x-row, .section-4 .x-row, .section-5 .x-row {
    display: flex;
    flex-wrap: wrap;
}

.tag-title, .card-text-badge, .card-text-badge-2 {
    display: flex;
}

.card-text-badge, .card-text-badge-2 {
    justify-content: space-between;
}

.card-text-badge-2 div{
    margin-right: 1rem;
}

.circular {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: .2rem;
}

.color-1 {
    border-top: 10px solid $home-color1;
}
.color-2 {
    border-top: 10px solid $home-color2;
}
.color-3 {
    border-top: 10px solid $home-color3;
}


/* Style the video: 100% width and height to cover the entire window */

.section-1 {
    background-color: #777;
    width: 100% !important;
    height: 53rem;
    background-size: cover;
}

.section-1 #hero-section {
    padding-left: 15rem;
    padding-right: 15rem;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    top: 17rem;
    color: #fff;
}

.section-1 .home_section1_hero {
    font-size: 3.2rem;
    font-weight: bolder;
}

.section-1 .home_section1_subtitle {
    font-size: 1.3rem;
}

#power-sector .section-3-market .home-card, #mini-grids .section-5 .home-card, #shs .section-3-market .home-card, #shs .section-5 .home-card {
    padding: 1rem;
    width: 24rem;
    height: 70%;
    border-radius: 10px !important;
}

#mini-grids .section-3-market .home-card {
    padding: 1rem;
    width: 47%;
    border-radius: 10px !important;
}

.section-4-download td #creative-commons svg {
    width: 2rem;
    height: 2rem;
}

.section-4-download td #data-download svg {
    width: 1rem;
    height: 2rem;
}

.section-4-download td #data-download {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    background-color: $home-color1 !important;
    border-color: $home-color1 !important;
}

// styling for charts

#doughnutChart{
    position: relative;
    top: -6rem;
    max-width: 550px; 
    max-height: 350px;
}

#doughnutTxt{
    position: absolute; 
    top: 78%; 
    left: 21.5%; 
    margin-top: -20px; 
    line-height:19px; 
    text-align: center; 
    z-index: 99;
}

#download-chart-ellipses {
    width: 5rem;
    position: absolute;
    right: 0;
    bottom: 1.8rem;
    padding-right: 3rem;
    cursor: pointer;
}

#info-tooltip{
    max-height: 1.2rem;
    max-width: 1.5rem;
    cursor: pointer;
}

.row-x{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1024px) {
    #power-sector .section-3-market .home-card, #mini-grids .section-5 .home-card, #shs .section-3-market .home-card, #shs .section-5 .home-card {
        width: 26rem;
    }
    .text-wrap {
        width: 26rem;
    }
    .section-2 img {
        width: 26rem;
        height: 15rem;
        object-fit: cover;
    }
    .section-2-card {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .section-2-title, .section-2-card {
        padding-bottom: 3rem;
    }
    .section-4 .img-fluid {
        height: 18rem;
        object-fit: cover;
    }
    // Make section 1 responsive

    .section-1 #hero-section {
        padding: 5rem 5rem 0 5rem;
    }
    .section-1 .home_section1_hero {
        font-size: 2.5rem;
    }
    .home-card {
        width: 100%;
    }
    .home-card {
        width: 100%;
    }

}

@media (max-width: 768px) {
    #power-sector .section-3-market .home-card, #mini-grids .section-5 .home-card, #shs .section-3-market .home-card, #shs .section-5 .home-card {
        width: 95%;
    }
    .section-2 img {
        width: 40rem;
        height: 20rem;
        object-fit: cover;
    }
    .section-2-card {
        margin-left: 34px !important;
        margin-right: 34px !important;
    }
    .section-2-title, .section-2-card {
        padding-bottom: 3rem;
    }
    .text-wrap {
        width: 38rem;
    }
    p.lead {
        margin-bottom: 0px;
        padding-bottom: 1rem;
    }
    .card-text-badge {
        flex-direction: column;
    }
    .card-text-badge-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .section-4 .img-fluid {
        height: 23rem;
        object-fit: cover;
    }
    .section-1 #hero-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section-1 {
        height: 35rem;
    }
    .content {
        top: 5rem;
    }
    .section-3-market .row{
        display: block !important;
        flex-wrap: nowrap !important;
    }
    .section-3-market .card{
        margin-left: 1rem !important;
    }

}

@media (max-width: 425px) {
    #power-sector .section-3-market .home-card, #mini-grids .section-5 .home-card, #shs .section-3-market .home-card, #shs .section-5 .home-card {
        width: 90%;
    }
    .section-4-download td #data-download-btn-txt {
        display: none;
    }
    .section-4-download td #data-download {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .section-2 img {
        width: 22rem;
        height: 10rem;
        object-fit: cover;
    }
    .section-2-card {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .section-2-title, .section-2-card {
        padding-bottom: 3rem;
    }
    .text-wrap {
        width: 22rem;
    }
    .section-4 .card img {
        border-radius: 20px 20px 0px 0px;
    }
    .section-4 .img-fluid {
        height: 18rem;
        object-fit: cover;
    }
    // Make section 1 responsive
    .section-1 #hero-section {
        padding: 1rem;
    }
    .section-1 .home_section1_subtitle {
        font-size: 1rem;
    }
    .content br {
        display: none;
    }
    .content {
        top: 10rem;
    }
    #power-sector .content, #shs .content {
        top: 8rem;
    }
    #doughnutChart{
        top: -3rem;
    }
    #doughnutTxt{
        top: 48%;
        left: 15%;
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    #power-sector .section-3-market .home-card, #mini-grids .section-5 .home-card, #shs .section-3-market .home-card, #shs .section-5 .home-card {
        width: 85%;
        height: 80%;
    }
    .btn-lg{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .section-2 img {
        width: 19rem;
    }
    .text-wrap {
        width: 20rem;
    }
    .card-text-badge-2{
        flex-direction: column;
    }
    .card-text-badge-2 div{
        width: 10rem;
        margin-bottom: .5rem;
    }
    #doughnutTxt{
        left: 13%;
    }
}

@media (max-width: 320px) {
    .section-2 img {
        width: 15rem;
    }
    .text-wrap {
        width: 16rem;
    }
    .section-1 .home_section1_hero {
        font-size: 2rem;
    }
    #doughnutChart{
        top: -1rem;
    }
    #doughnutTxt{
        left: 10%;
    }


}
