<div *ngFor="let dynamicBlogData of dynamicData">

    <main>
        <section class="section-1 py-lg-5">
            <div class="container">

                <h2 class="text-center py-3">{{ dynamicBlogData ? dynamicBlogData.tos_hero : constants.tos_hero }}</h2>
                
                <p class="py-1 mod">{{ dynamicBlogData ? dynamicBlogData.tos_txt_1 : constants.tos_txt_1 }}</p>

                <p class="py-3">{{ dynamicBlogData ? dynamicBlogData.tos_txt_2 : constants.tos_txt_2 }}</p>
                
                <ol>
                    <li class="py-3">
                        {{ dynamicBlogData ? dynamicBlogData.tos_txt_4_1 : constants.tos_txt_4_1 }} 
                        {{ dynamicBlogData ? dynamicBlogData.tos_txt_4_2 : constants.tos_txt_4_2 }}
                    </li>

                    <li class="py-3">
                        {{ dynamicBlogData ? dynamicBlogData.tos_txt_5_1 : constants.tos_txt_5_1 }}
                         <a href="/about-map" target="_blank">{{ dynamicBlogData ? dynamicBlogData.tos_txt_5_2 : constants.tos_txt_5_2 }}</a>. 
                         {{ dynamicBlogData ? dynamicBlogData.tos_txt_5_3 : constants.tos_txt_5_3 }}
                    </li>

                    <li class="py-3">
                        {{ dynamicBlogData ? dynamicBlogData.tos_txt_6_1 : constants.tos_txt_6_1 }} 
                        {{ dynamicBlogData ? dynamicBlogData.tos_txt_6_2 : constants.tos_txt_6_2 }} 
                        <a href="/privacy-policy" target="_blank">{{ dynamicBlogData ? dynamicBlogData.tos_txt_6_3 : constants.tos_txt_6_3 }}</a>
                        {{ dynamicBlogData ? dynamicBlogData.tos_txt_6_4 : constants.tos_txt_6_4 }}
                    </li>

                </ol>

                <p class="py-3"> 
                    {{ dynamicBlogData ? dynamicBlogData.tos_txt_7 : constants.tos_txt_7 }} 
                    <a href="/privacy-policy" target="_blank">{{ dynamicBlogData ? dynamicBlogData.tos_txt_6_3 : constants.tos_txt_6_3 }}</a>
                </p>
        
            </div>
        </section>
    </main>

</div>
