
$se4all-green: #1DD069;
$se4all-txt-grey: #464646;
$se4all-grey1: #EEEFF1;


.section-1 {
    background-color: $se4all-grey1;
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

body, p, a, li {
    font-size: 14pt;
}

a, .heading-green {
    color: $se4all-green;
}

p, div {
    color: $se4all-txt-grey;
}

h2 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

.mod {
    font-style: italic;
    font-size: medium;
}

@media (max-width: 768px) {
    h2 {
        font-size: 26pt;
        padding-top: 0 !important;
    }
}

@media (max-width: 425px) {
    .section-1 {
        padding-top: 8rem !important;
    }
}
