<main style="margin-top: 3rem; margin-bottom: 5rem;">

    <div class="container">

        <h1>Thanks for contacting us!</h1>
        <br>
        <p>We will get in touch with you about your request with the email address you provided.</p>
        <br>
        <p>
            <a type="button" class="btn btn-lg btn-se4all cta" routerLink="">Return to homepage
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
            </a>
        </p>


    </div>

</main>