/* You can add global styles to this file, and also import other style files */
@import '~ngx-sharebuttons/themes/outline';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;0,900;1,400&display=swap');


/* Theme imports for share buttons */
// @import '~ngx-sharebuttons/themes/material';
// @import '~ngx-sharebuttons/themes/circles';
// @import '~ngx-sharebuttons/themes/classic';
// @import '~ngx-sharebuttons/themes/default';
// @import '~ngx-sharebuttons/themes/modern';


$se4all-btn-bg-color: #1DD069;
$se4all-btn-txt-color: #fff;
$se4all-url-active: #6c757d;
$se4all-url-hover: #212529;
$se4all-v3-color: #fcbc0c;
$home-color1: #58c495;
$home-color2: #085064;
$home-color3: #f76904;

a {
    text-decoration: none !important;
}

body {
    font-family: 'Poppins Bold', 'Source Sans Pro', Arial, sans-serif !important;
}

.btn-se4all, #subscribe {
    background-color: $se4all-btn-bg-color !important;
    color: $se4all-btn-txt-color !important;
}

h2.blog-post-title>a {
    color: $se4all-url-active !important;
}

h2.blog-post-title>a:hover, #blog-teaser, .blog-post-meta {
    color: $se4all-url-hover;
}

svg {
    padding-bottom: 3px;
}

img.blog-preview-img {
    width: 100% !important; 
    height: 400px;
    object-fit: cover;
    padding: 20px;
}

.cta:hover, .btn-se4all:hover, #blog-post:hover, .home-card:hover, .section4-card-img:hover {
    transform: translateY(-3px);
    transition: all .2s ease-in;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.452);
}

.circular-mini-grid, .rounded-pill-mini-grid {
    background-color: $home-color1 !important;
}

.circular-shs, .rounded-pill-mini-shs, .circular-solar-home-systems {
    background-color: $home-color3 !important;
}

.circular-power-sector, .rounded-pill-power-sector {
    background-color: $home-color2 !important;
}


@media (max-width: 576px) {
    .flex-sm-column {
        flex-direction: column !important;
    }
}



/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.cookiebanner {
    background: rgba(255, 255, 255, 0.9) !important;
  
    font-family: Source Sans Pro !important;
    font-size: 18px !important;
    line-height: 23px !important;
  
    /* Brand/Dark Grey */
    color: #464646 !important;
  }
  .cookiebanner a{
      color: #1DD069 !important;
      text-decoration: underline !important;
      font-size: 18px !important;
      line-height: 23px !important;
      font-family: Source Sans Pro !important;
  }