<div *ngFor="let dynamicBlogData of dynamicData">

    <main @blogAnimation>

        <section class="py-5 container" id="hero-section">
            <div class="row py-lg-5 g-2">
                <div class="col-lg-8">
                    <h1>{{ dynamicBlogData ? dynamicBlogData.hero_title : staticContent.k_hero_title }}</h1>
                    <br>
                    <p class="text-muted">{{ dynamicBlogData ? dynamicBlogData.hero_subtitle_1 :
                        staticContent.k_hero_subtitle_1 }} </p>
                    <p class="text-muted">{{ dynamicBlogData ? dynamicBlogData.hero_subtitle_2 :
                        staticContent.k_hero_subtitle_2 }}</p>
                    <br>
                    <p>
                        <a type="button" class="btn btn-lg btn-se4all cta" routerLink="../contact-us">
                            {{ dynamicBlogData ? dynamicBlogData.btn2 : staticContent.k_btn2 }}
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/blog-home-img.jpg" alt="blog home image">
                    </div>
                </div>
            </div>
        </section>


        <div class="container">
            <div class="row g-5">

                <!--START OF MAIN BLOG COLUMN  -->

                <div class="col-md-8 pb-4" id="blog-posts">
                    <!-- uncomment the line below to make the blog page display two columns instead of 1 -->
                    <!-- <div class="row row-cols-1 row-cols-sm-2 g-5"> -->


                    <div *ngFor="let blog of blogData">
                        <div class="col py-4">
                            <a
                                routerLink="../blog-post/{{ blog.published_date | date:'yyyy' }}/{{ blog.published_date | date:'MM' }}/{{ blog.published_date | date:'dd' }}/{{ blog.url }}">

                                <div class="card shadow-lg" id="blog-post">
                                    <img class="blog-preview-img" src="{{blog.image.url}}" alt="blog post image">

                                    <div class="card-body">

                                        <article class="card-text">

                                            <h2 class="blog-post-title">
                                                <a>
                                                    {{ blog.title }}
                                                </a>
                                            </h2>

                                            <!-- Blog Date and Author -->
                                            <p class="blog-post-meta">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                </svg>
                                                {{ blog.published_date | date:'longDate' }} &nbsp;&nbsp;&nbsp;
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                                    </svg> {{ blog.user.username }} </span>
                                            </p>

                                            <!-- Blog Summary/Teaser -->
                                            <p id="blog-teaser">{{ blog.summary | summary: 300 }}</p>

                                            <hr>

                                        </article>

                                        <div class="d-flex justify-content-between align-items-center">

                                            <!-- START OF BLOG READ MORE BUTTON -->
                                            <div class="mx-3">
                                                <a type="button" class="btn btn-md btn-outline-secondary">
                                                    {{ dynamicBlogData ? dynamicBlogData.btn1 : staticContent.k_btn1 }}

                                                </a>
                                            </div>
                                            <!-- END OF BLOG READ MORE BUTTON -->


                                            <!-- START OF INDIVIDUAL BLOG POST TAGS -->
                                            <div class="d-flex flex-lg-row flex-sm-column flex-xs-column">
                                                <div *ngFor="let blogCategory of blog.categories">
                                                    <a type="button" class="btn btn-sm btn-se4all mb-2 mx-lg-1 mb-lg-0"
                                                        routerLink="../blog-category/{{blogCategory.name}}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-tag-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                        </svg>
                                                        {{ blogCategory.name }}
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END OF INDIVIDUAL BLOG POST TAGS -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <hr>
                    </div>


                    <!-- </div> -->
                </div>

                <!-- END OF MAIN BLOG COLUMN  -->

                <side-bar class="col-md-4" id="side-bar"></side-bar>

            </div>
        </div>

        <!-- START OF SUBSCRIBE FUNCTIONALITY -->

        <subscribe></subscribe>

        <!-- END OF SUBSCRIBE FUNCTIONALITY -->

    </main>
</div>